body{
    background-color: rgba(49, 57, 77) !important;
    background-size: cover;
}

img{
    display: block;
    height: 200px;
}


/* unvisited link */
a:link {
    color: chocolate;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: lightblue;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: orchid;
    text-decoration: none;
}

/* selected link */
a:active {
    color: darkgray;
    text-decoration: none;
}

span.pic{
    display: block;
    height: 70x;
    width: 130px;
    float: left;
}



.item{
    width:200px;
    text-align:center;
    display:block;
    background-color: transparent;
    border: 1px solid transparent;
    margin-right: 10px;
    margin-bottom: 1px;
    float:left;
}
